cairosvg
sphinxcontrib-svg2pdfconverter
sphinxcontrib-matlabdomain
furo
alabaster
attrs
babel
certifi
chardet
click
docutils
gitdb
gitpython
idna
imagesize
importlib-metadata
jinja2
jsonpointer
jsonref
markdown-it-py
markupsafe
mdit-py-plugins
myst-parser
packaging
pygments
pyparsing
python-slugify
pytz
pyyaml
requests
six
smmap
snowballstemmer
sphinx
sphinx-intl
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-opendataservices
sphinxcontrib-opendataservices-jsonschema
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
text-unidecode
transifex-client
typing-extensions
urllib3
zipp